#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /*text-align: center;*/
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




/*-------------mina inställningar--------------------------*/
.job-card {
  width: 20vw;
  height: auto;
  background-color: rgb(53, 68, 72);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid white;
  margin-bottom: 10px;
}
.first-text {
  text-decoration: underline;
  font-weight: 700;
  color: rgb(246, 255, 117);
  margin-right: 5px;
}
.input-field {
  margin-bottom: 20px;
  width: 15vw;
  border-radius: 5px;
  height: 25px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.search-image {
  position: absolute;
  top: 4px; 
  right: 10px; 
  /*transform: translateY(-50%); */
  width: 30px; 
  /*height: 25px;*/
}

.job-item {
  border: 2px solid rgb(255, 255, 255);
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(59, 59, 59);
  border-radius: 8px;
  
}
ul {
  list-style: none;
}
