.menu {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
  
}

.itemtext {
    color: rgb(92, 43, 226);
    margin-right: 30px;
}
.list {
    display: flex;
    justify-content: flex-end;
}


